@model  HJStudio.Models.EnquiryFollowUpModel
<style>
    .m-portlet {
        margin-bottom: 0px;
    }
</style>
@using (Ajax.BeginForm("AddEnquiryFollowUp", "Enquiry", new AjaxOptions { HttpMethod = "POST", OnBegin = "BeginFollowUp", OnSuccess = "SuccessFollowUp" }))
{
    @Html.HiddenFor(x => x.InquiryId)
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Inquiry FollowUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-md-4 col-form-label">Next FollowUp Date:</label>
            <div class="col-md-8">
                <div class="input-group date">
                    @Html.TextBoxFor(x => x.NextFolowupDate, new { @class = "form-control m-input m_datepicker_PD", @placeholder = "select date" })
                    @*<div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>*@
                </div>
                @Html.ValidationMessageFor(x => x.NextFolowupDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Remark:</label>
            <div class="col-md-8 ">
                @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control m-input", @placeholder = "Enter remark" })
                @Html.ValidationMessageFor(x => x.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Status:</label>
            <div class="col-md-8">
                @Html.DropDownListFor(x => x.InquiryStatus, ViewBag.EnquiryType as SelectList, "Select", new { @class = "form-control m-input" })
                @Html.ValidationMessageFor(x => x.InquiryStatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
}
<div class="m-portlet m--bg-warning m-portlet--bordered-semi m-portlet--full-height ">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--font-light">
                    Inquiry Status
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">

        </div>
    </div>
    <div class="m-portlet__body">

        <!--begin::Widget 29-->
        <div class="m-widget29">
            @if (Model.EnquiryFollowUpList != null)
            {
                foreach (var item in Model.EnquiryFollowUpList)
                {
                    <div class="m-widget_content">
                        <h3 class="m-widget_content-title">@item.CreatedBy ( @(item.CreatedDate == null ? "" : item.CreatedDate.Value.ToString("dd/MM/yyyy")) )</h3>
                        <div class="m-widget_content-items">
                            <div class="m-widget_content-item">
                                <span>Next Followup Date:</span>
                                <span class="m--font-accent">@(item.NextFolowupDate == null ? "" : item.NextFolowupDate.Value.ToString("dd/MM/yyyy HH:mm tt"))</span>
                            </div>
                            <div class="m-widget_content-item">
                                <span>Status</span>
                                <span class="m--font-brand">@item.InquiryStatusString</span>
                            </div>

                        </div>
                        <div class="m-widget_content-items">
                            @Html.Raw(item.Remarks)
                        </div>
                    </div>
                }
            }

        </div>

        <!--end::Widget 29-->
    </div>
</div>


