@model HJStudio.Models.QuotationModel

@for (int i = 0; i < Model.ProductQuotationList.Count(); i++)
{
    if (Model.ProductQuotationList[i].IsDelete == false)
    {
        <tr data-Productid="@i" id="ProductTr_@(i)">
            <td>
                @Html.DropDownListFor(x => x.ProductQuotationList[i].ProductID, Model.ProductQuotationList[i].ProductList, "Select", new { @class = "form-control m-input" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.ProductQuotationList[i].Quantity, new { @class = "form-control m-input" })
            </td>

            <td>
                @Html.TextBoxFor(x => x.ProductQuotationList[i].Amount, new { @class = "form-control m-input" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.ProductQuotationList[i].TotalAmount, new { @class = "form-control m-input", @readonly = "readonly" })
            </td>
            <td>
                @Html.HiddenFor(x => x.ProductQuotationList[i].IsDelete)
                <button type="button" onclick="DeleteProduct(this)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }
}

<script>
    $(document).ready(function () {

        $("select[id$='__ProductID']").select2();
    });
</script>
