@model HJStudio.Models.ClientModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->

                @using (Html.BeginForm("AddEdit", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-form m-form--fit m-form--label-align-right" }))
                {
                    @Html.HiddenFor(x => x.ClientID)
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label class="col-md-2 col-form-label">Name :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })

                            </div>
                            <label class="col-md-2 col-form-label">Mobile No :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-md-2 col-form-label">Refereance Name :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Refrence, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.Refrence, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 col-form-label">Email-Id :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.EmailId, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-md-2 col-form-label">Address 1 :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Address1, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.Address1, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 col-form-label">Address 2 :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Address2, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.Address2, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-md-2 col-form-label">City :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.City, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 col-form-label">State :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.State, new { @class = "form-control m-input" })
                                @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                            </div>

                        </div>
                      
                       

                    </div>

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="~/Client" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

