@model HJStudio.Models.ExpenseModel  
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->

                @using (Html.BeginForm("AddEdit", "Expense", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-form m-form--fit m-form--label-align-right" }))
                {
                    @Html.HiddenFor(x => x.ExpenseID)
                <div class="m-portlet__body">

                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">Employee Name :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.EmployeeID, ViewBag.EmployeeList as SelectList, "Select", new { @class = "form-control Select2DropDown", onchange = "getData(this);" })
                            @Html.ValidationMessageFor(x => x.EmployeeID, "", new { @class = "text-danger" })

                        </div>
                        <label class="col-md-2 col-form-label">Description :</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-md-2 col-form-label">Expense Type :</label>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(x => x.IsBank, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.IsBank, "", new { @class = "text-danger" })

                        </div>
                        <label class="col-md-2 col-form-label">Total Amount :</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row BankDetail" style="display:none;">
                        <label class="col-md-2 col-form-label">Bank Name :</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.BankName, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.BankName, "", new { @class = "text-danger" })

                        </div>
                        <label class="col-md-2 col-form-label">Cheque No :</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.ChequeNo, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.ChequeNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group m-form__group row BankDetail" style="display:none;">
                        <label class="col-md-2 col-form-label">IFSC CODE :</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.IFSCCode, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(x => x.IFSCCode, "", new { @class = "text-danger" })

                        </div>
                        
                    </div>
                </div>

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2">
                                </div>
                                <div class="col-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="~/Expense" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    $("#IsBank").click(function () {
        if ($(this).prop("checked") == true) {
            $(".BankDetail").show();
        }
        else {
            $(".BankDetail").hide();
        }
    });
    $(document).ready(function () {
        if ($("#IsBank").prop("checked") == true) {
            $(".BankDetail").show();
        }
        else {
            $(".BankDetail").hide();
        }
    });
</script>